@{
    ViewData["Title"] = "Report Selection";
}

<div class="text-center">
    
    <form asp-controller="ReportSelection" asp-action="Edit" method="post">
        <h1 class="display-4">Select A Report to Edit</h1>
        <div class="form-group">
            <select name="reportname" id="reportname">
            <option value="TwoSimpleLists">TwoSimpleLists</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
