@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Stimulsoft Report Designer Demo</h1>
    <p>Learn about <a href="https://www.stimulsoft.com/en" target="_blank"> Stimulsoft Reports</a>.</p>
</div>
